@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BOOK WORM</h1>
    <p>Online bookstore with passion
        <br/>
        <br/>
        <br/>
        <img src="/image/OIG.jpg" width=500 height=500 />
    </p>
</div>
